conscience-sim/Action loop (Lana).json
{
  "name": "Action loop (Lana)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1824,
        32
      ],
      "id": "24eeb285-9e1e-4c7d-aee1-2b7fe6513731",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "[yourprompt]",
        "needsFallback": true,
        "options": {
          "systemMessage": "[yourprompt]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2128,
        96
      ],
      "id": "14412823-3cb6-4aee-a66f-28d03ccc4f19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-task"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1008,
        16
      ],
      "id": "7aff8304-8974-4b01-8510-a65852428df6",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca151edf-a37b-4407-9e06-10007021bc4a",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        16
      ],
      "id": "496f7d27-4926-4756-ada5-c2772eee1b7d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        176,
        96
      ],
      "id": "2e4ad55c-14cc-4c4e-abd1-08e3fc01d06a",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-location"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        352,
        96
      ],
      "id": "dcce7bee-4959-498c-b793-e0dc713fe22c",
      "name": "Get row(s)2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-emotion"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        528,
        96
      ],
      "id": "9cf139d3-b432-4010-974b-27d427089f25",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "tiredness"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        720,
        96
      ],
      "id": "108602a1-0ffb-47f9-a897-c1e2c86d5e2d",
      "name": "Get row(s)4"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-task-change"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        896,
        96
      ],
      "id": "1fdd4660-e7a2-4089-a10c-99f1a63f4e5a",
      "name": "Get row(s)5"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-location-change"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1088,
        96
      ],
      "id": "d3aecdfe-90c2-4275-9707-107dad134d9c",
      "name": "Get row(s)6"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "available-inventory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1280,
        96
      ],
      "id": "35262d0f-0cfe-4637-9e91-7f13338956b7",
      "name": "Get row(s)7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "known-locations"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1488,
        96
      ],
      "id": "114a1d84-608f-4a8f-a5b4-232432bdf305",
      "name": "Get row(s)8"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "global-inventory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1680,
        96
      ],
      "id": "4c9a20a6-f35b-4fd4-9426-b46360b42f80",
      "name": "Get row(s)9"
    },
    {
      "parameters": {
        "description": "[yourprompt]",
        "workflowId": {
          "__rl": true,
          "value": "0UpJUSMKMZYnLoSD",
          "mode": "list",
          "cachedResultUrl": "/workflow/0UpJUSMKMZYnLoSD",
          "cachedResultName": "Places or world actions agent (Lana)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('action', `[yourprompt]`, 'string') }}"
          },
          "matchingColumns": [
            "action"
          ],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2352,
        448
      ],
      "id": "9b08109a-8fba-4c05-9e09-a19e1de27c25",
      "name": "Call 'Places or world actions agent'"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "google/gemini-3-flash-preview"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2000,
        304
      ],
      "id": "cef96b3f-db1f-485b-a5b0-93c8af0ca916",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YlqXW7odkPDSxhhQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2128,
        528
      ],
      "id": "b871ab80-81f8-4af6-b279-0be2fa6c4433",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W5iDcOpEY3u5RlOU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "list",
          "cachedResultName": "lana-oai"
        },
        "prompt": "task",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -544,
        208
      ],
      "id": "dc561a25-f30c-4b4e-8f9d-fb0d7d0348cb",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-embed-2312",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -496,
        464
      ],
      "id": "f9e7762a-02f4-4bbb-83ff-4586668cfae7",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "EvEN1q0jCtLD6f3E",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -176
      ],
      "id": "0f2f7955-fa01-458f-bfec-28a692ae4c1e",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        80
      ],
      "id": "19245153-06e3-4eec-8f2d-97f9baf9071a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "1",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -16,
        96
      ],
      "id": "463ce924-4c2e-4876-9b2e-cdcd0ce22679",
      "name": "Redis",
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "ZE1YPJ0hgCON4YE9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gOvleTMrYJ3p7nhw",
          "mode": "list",
          "cachedResultName": "lana-actions-log",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/gOvleTMrYJ3p7nhw"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $now.startOf(\"day\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1440,
        48
      ],
      "id": "f3acf309-67ea-4556-9674-8ce819b2e041",
      "name": "Get row(s)10",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "eventName": "Action loop success",
        "distinctId": "Lana",
        "additionalFields": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "output",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.postHog",
      "typeVersion": 1,
      "position": [
        2480,
        96
      ],
      "id": "84184868-792e-484f-b5f0-6b8e0a2f12c8",
      "name": "Create an event",
      "alwaysOutputData": true,
      "credentials": {
        "postHogApi": {
          "id": "uE1DlhWBT6cszbku",
          "name": "PostHog account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Get row(s)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)5": {
      "main": [
        [
          {
            "node": "Get row(s)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)6": {
      "main": [
        [
          {
            "node": "Get row(s)7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)7": {
      "main": [
        [
          {
            "node": "Get row(s)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)8": {
      "main": [
        [
          {
            "node": "Get row(s)9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)9": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Places or world actions agent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)10": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e816f378-2b95-4527-a746-a2400fa7676b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a778a0d94b3958961fe34906fd90006f863d59efcaf8ca586dc3f0d6b0a34eb"
  },
  "id": "KoRYWfEUBjepjC2z",
  "tags": [
    {
      "updatedAt": "2026-03-21T12:03:52.825Z",
      "createdAt": "2026-03-21T12:03:52.825Z",
      "id": "24LSzFxysu3aJmEV",
      "name": "lana"
    },
    {
      "updatedAt": "2026-03-21T20:05:57.934Z",
      "createdAt": "2026-03-21T20:05:57.934Z",
      "id": "83QlnQ6OaUK2Z7XX",
      "name": "humanity"
    },
    {
      "updatedAt": "2026-03-21T12:03:59.385Z",
      "createdAt": "2026-03-21T12:03:59.385Z",
      "id": "k2biWk2SNCxJ2LWk",
      "name": "automation"
    }
  ]
}