conscience-sim/Places or world actions agent (Lana).json
{
  "name": "Places or world actions agent (Lana)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        -640
      ],
      "id": "41a4d7cf-2f1c-484f-9947-4ef55316817b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "available-inventory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        80,
        -640
      ],
      "id": "5e22afbe-a469-475a-9995-7c323cc9c7b9",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-task"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        304,
        -640
      ],
      "id": "b6c9691e-bb8c-4c9b-92f8-ee3d8585c14c",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "global-inventory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        528,
        -640
      ],
      "id": "1cc23e7d-f83d-47ff-b2cc-aad53611925c",
      "name": "Get row(s)2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-location"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        -640
      ],
      "id": "a4b43819-58ea-4e03-a686-4bf75334b521",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-task-change"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        -640
      ],
      "id": "d40647bf-0156-4876-90a8-e411b0f55ee0",
      "name": "Get row(s)4"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-location-change"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1200,
        -640
      ],
      "id": "747f40b8-fff5-4b2a-bd69-25091912a8cc",
      "name": "Get row(s)5"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "known-locations"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1424,
        -640
      ],
      "id": "3fac366e-7238-4950-a0e0-c2083ead7342",
      "name": "Get row(s)6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "[yourprompt]",
        "needsFallback": true,
        "options": {
          "systemMessage": "[yourprompt]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        -640
      ],
      "id": "bb83b5cb-d64a-4e2d-b67f-60b7e9a7053f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "google/gemini-3-flash-preview"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1648,
        -416
      ],
      "id": "84b1424b-f156-4a28-9e93-50dc36e37efc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YlqXW7odkPDSxhhQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1776,
        -416
      ],
      "id": "dcf457e4-b99d-487e-94b4-fe88745a4f53",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W5iDcOpEY3u5RlOU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-emotion"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -816,
        -640
      ],
      "id": "74403e1f-2512-4a03-a57e-c65127849d76",
      "name": "Get row(s)7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "tiredness"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -368,
        -640
      ],
      "id": "e620e355-4c91-4aff-b4ec-ee4fbc5e8ed6",
      "name": "Get row(s)8",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-slept"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -144,
        -640
      ],
      "id": "ca166b6c-5e00-4424-9895-e20bcf6e01d7",
      "name": "Get row(s)9"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "list",
          "cachedResultName": "lana-oai"
        },
        "prompt": "={{ $json.action.slice(0,800) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1616,
        -496
      ],
      "id": "49b678bc-f8ee-444e-af01-60ed3887a7e3",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        -784
      ],
      "id": "a16539a3-e06b-4c62-9825-a0c839e45045",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1264,
        -640
      ],
      "id": "6c946f30-766f-49d3-997d-3ae2e70ed959",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "1",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1040,
        -640
      ],
      "id": "41b897aa-17b4-447a-b46c-7779cc4c73bf",
      "name": "Redis",
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "ZE1YPJ0hgCON4YE9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-embed-2312",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -1552,
        -208
      ],
      "id": "52af3d6e-5c30-4489-8d73-3166ac386a24",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "EvEN1q0jCtLD6f3E",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "33c38f0b-972f-43ea-8e3c-de854791ba74",
              "leftValue": "={{ $json.output.parseJson().current_location }}",
              "rightValue": "={{ $('Get row(s)3').item.json.content }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        -160
      ],
      "id": "7915d376-aa13-459b-9310-35b3e0964357",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-location"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataname": "current-location",
            "content": "={{ $('AI Agent').item.json.output.parseJson().current_location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2880,
        -160
      ],
      "id": "feb1f96c-1724-426c-915f-ccf253baca04",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-location-change"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataname": "last-location-change",
            "content": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -160
      ],
      "id": "dca15654-bcba-43cc-a9d8-485afed6480b",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "33c38f0b-972f-43ea-8e3c-de854791ba74",
              "leftValue": "={{ $json.output.parseJson().current_task }}",
              "rightValue": "={{ $('Get row(s)1').item.json.content }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        -352
      ],
      "id": "3a26aa00-0ab9-4085-8cae-0c590027bd71",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-task"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataname": "current-task",
            "content": "={{ $('AI Agent').item.json.output.parseJson().current_task }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2880,
        -352
      ],
      "id": "06ffaa55-0317-4677-b68e-3a90b3159530",
      "name": "Update row(s)2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "last-task-change"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataname": "last-task-change",
            "content": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -352
      ],
      "id": "91e70fdb-1d4f-4049-8647-2da5e1a5c5fd",
      "name": "Update row(s)3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "global-inventory"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.output.parseJson().global_inventory }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -544
      ],
      "id": "470b8117-1f27-4d4c-8384-424d4804d0b2",
      "name": "Update row(s)4"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "available-inventory"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.output.parseJson().available_inventory }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -736
      ],
      "id": "e3d040e9-b18b-41c7-8715-b26ddebfaf2d",
      "name": "Update row(s)5"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "current-emotion"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.output.parseJson().new_emotion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -928
      ],
      "id": "3a73c241-3d3b-4632-acaf-3c88f35d778d",
      "name": "Update row(s)6"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "tiredness"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.output.parseJson().new_tiredness }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -1120
      ],
      "id": "6db5332c-b37e-4700-ba9f-61111cce42e8",
      "name": "Update row(s)7"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3328,
        -704
      ],
      "id": "4c911b83-bb8a-47fc-99c8-74b03bdadec4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2ccd5df-84e8-4891-926b-3248220b1fcb",
              "name": "description",
              "value": "={{ $('AI Agent').item.json.output.parseJson().narrative }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4624,
        -640
      ],
      "id": "7246428c-8424-4c79-9a6c-d7ae60bf2e6c",
      "name": "Edit Fields1",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "description": "[yourprompt]",
        "workflowId": {
          "__rl": true,
          "value": "DtEi4OEVYgX8tHsC",
          "mode": "list",
          "cachedResultUrl": "/workflow/DtEi4OEVYgX8tHsC",
          "cachedResultName": "Get weather"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1904,
        -416
      ],
      "id": "52e8fc89-bc13-4340-9939-d812964a00dc",
      "name": "Call 'Get weather'"
    },
    {
      "parameters": {
        "endpointUrl": "[yourapiurl]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2032,
        -416
      ],
      "id": "a93852e6-f589-440d-bbd1-0f653c875fac",
      "name": "Web search"
    },
    {
      "parameters": {
        "description": "[yourprompt]",
        "workflowId": {
          "__rl": true,
          "value": "hLZDglI48z7QVzJH",
          "mode": "list",
          "cachedResultUrl": "/workflow/hLZDglI48z7QVzJH",
          "cachedResultName": "Write a memo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tags": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tags', `[yourprompt]`, 'string') }}",
            "memocontent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('memocontent', `[yourprompt]`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "memocontent",
              "displayName": "memocontent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2160,
        -416
      ],
      "id": "b5abbb7b-6f1b-49b4-a892-89c89db127be",
      "name": "Call 'Write a memo'"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "[yourprompt]",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "list",
          "cachedResultName": "lana-oai"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2288,
        -416
      ],
      "id": "a04ed3e3-0c9b-4772-b132-c882cd38b150",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-embed-2312",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        2368,
        -208
      ],
      "id": "4c3cfb8f-713c-4b62-a17f-380d3d4f844d",
      "name": "Embeddings Mistral Cloud1",
      "credentials": {
        "mistralCloudApi": {
          "id": "EvEN1q0jCtLD6f3E",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "list",
          "cachedResultName": "lana-oai"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3776,
        -640
      ],
      "id": "6fd27a27-b03b-402b-a463-6b93bacf36b0",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={\n\"datetime\":\"{{ $now }}\",\n\"type\":\"action\",\n\"content\":\"{{ $('AI Agent').item.json.output.parseJson().narrative }}, {{ $('AI Agent').item.json.output.parseJson().steps_taken }}\",\n\"tags\":\"action,real world\"\n}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "action"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3920,
        -416
      ],
      "id": "0efda0d5-4197-4272-8768-cbb85410efd7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "mistral-embed-2312",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        3792,
        -416
      ],
      "id": "f1fa988a-0809-4582-a9c9-b62d943534cf",
      "name": "Embeddings Mistral Cloud2",
      "credentials": {
        "mistralCloudApi": {
          "id": "EvEN1q0jCtLD6f3E",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        -640
      ],
      "id": "f1e25aa9-8548-44b1-8e59-f519213f995d",
      "name": "Edit Fields2",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gOvleTMrYJ3p7nhw",
          "mode": "list",
          "cachedResultName": "lana-actions-log",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/gOvleTMrYJ3p7nhw"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $now.startOf(\"day\") }}"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -592,
        -640
      ],
      "id": "d0fc3a41-c0e5-4989-ac70-918bace24682",
      "name": "Get row(s)10",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "gOvleTMrYJ3p7nhw",
          "mode": "list",
          "cachedResultName": "lana-actions-log",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/gOvleTMrYJ3p7nhw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $('AI Agent').item.json.output.parseJson().narrative }}",
            "date": "={{ $now.toLocaleString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4128,
        -640
      ],
      "id": "245b0890-ec25-450e-877e-c4e0074e446c",
      "name": "Insert row"
    },
    {
      "parameters": {
        "eventName": "Action executed",
        "distinctId": "Lana",
        "additionalFields": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "input",
                "value": "={{ $('When Executed by Another Workflow').item.json.action }}"
              },
              {
                "key": "output",
                "value": "={{ $('AI Agent').item.json.output.toJsonString() }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.postHog",
      "typeVersion": 1,
      "position": [
        4336,
        -640
      ],
      "id": "7fc1bb56-e452-4f99-9cce-422d55378ad1",
      "name": "Create an event",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "postHogApi": {
          "id": "uE1DlhWBT6cszbku",
          "name": "PostHog account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "known-locations"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.output.parseJson().known_locations }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dataname",
              "displayName": "dataname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3104,
        -1328
      ],
      "id": "21264939-f7f4-43fb-81d0-7faff1a83c7a",
      "name": "Update row(s)8"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Get row(s)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)5": {
      "main": [
        [
          {
            "node": "Get row(s)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)6": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s)7": {
      "main": [
        [
          {
            "node": "Get row(s)10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)8": {
      "main": [
        [
          {
            "node": "Get row(s)9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)9": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Get row(s)7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row(s)4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row(s)5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row(s)6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row(s)7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row(s)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)2": {
      "main": [
        [
          {
            "node": "Update row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update row(s)5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update row(s)4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Update row(s)3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get weather'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Write a memo'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)10": {
      "main": [
        [
          {
            "node": "Get row(s)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)8": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "185481fa-cc54-4248-aa11-59701c1287a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a778a0d94b3958961fe34906fd90006f863d59efcaf8ca586dc3f0d6b0a34eb"
  },
  "id": "0UpJUSMKMZYnLoSD",
  "tags": [
    {
      "updatedAt": "2026-03-21T12:03:52.825Z",
      "createdAt": "2026-03-21T12:03:52.825Z",
      "id": "24LSzFxysu3aJmEV",
      "name": "lana"
    },
    {
      "updatedAt": "2026-03-21T20:05:57.934Z",
      "createdAt": "2026-03-21T20:05:57.934Z",
      "id": "83QlnQ6OaUK2Z7XX",
      "name": "humanity"
    },
    {
      "updatedAt": "2026-03-21T12:02:48.263Z",
      "createdAt": "2026-03-21T12:02:48.263Z",
      "id": "woYDupKE5erS0E4f",
      "name": "tool"
    }
  ]
}