conscience-sim/REM 1 (2).json
{
  "name": "REM 1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nremdata"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        448
      ],
      "id": "7c329929-7518-42f7-8a44-cdc6ed2f3266",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "1"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        448
      ],
      "id": "66885c22-5ae1-40c9-81e0-e464b932bd1c",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "ZE1YPJ0hgCON4YE9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        400
      ],
      "id": "37ffed23-84c5-4237-9207-95ddb64bf76a",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "id"
        },
        "prompt": "={{ $('When Executed by Another Workflow').item.json.nremdata.parseJson().rem_material.join().slice(0,800) }}, personality",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        432,
        640
      ],
      "id": "8a86e5e9-790e-44a6-b28f-69f8021dd0cd",
      "name": "rem_material search",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "id"
        },
        "prompt": "={{ $('When Executed by Another Workflow').item.json.nremdata.parseJson().summary.slice(0,800) }}, personality",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        432,
        832
      ],
      "id": "73498660-db79-4f16-bb6a-03db3dd64d12",
      "name": "summary search",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"removeme\":\"removeme\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -144
      ],
      "id": "533671f5-4d38-43f7-80db-4f32323588d2",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HFb5rV4WptXzbCki",
          "mode": "list",
          "cachedResultName": "data-system",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/HFb5rV4WptXzbCki"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "dataname",
              "keyValue": "prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1680,
        448
      ],
      "id": "4efa92a3-e447-4ba0-8b08-50fd70e243ea",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "[yourprompt]",
        "needsFallback": true,
        "options": {
          "systemMessage": "[yourprompt]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        448
      ],
      "id": "146338f1-3f1d-4ce1-8acd-d4f64b7d0fb6",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "google/gemini-3-flash-preview"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1920,
        672
      ],
      "id": "92ba7f77-583f-46c9-a652-145d4932f01b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YlqXW7odkPDSxhhQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        672
      ],
      "id": "4536eabc-325c-4c4f-ab3a-f3fe9d956974",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W5iDcOpEY3u5RlOU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gDliXiMbMqHwMqSL",
          "mode": "list",
          "cachedResultUrl": "/workflow/gDliXiMbMqHwMqSL",
          "cachedResultName": "Wake Up"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dreams": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [
            "dreams"
          ],
          "schema": [
            {
              "id": "dreams",
              "displayName": "dreams",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2480,
        448
      ],
      "id": "4ffd438b-1736-440e-ae45-fe02b8b8ad71",
      "name": "Call 'Wake Up'"
    },
    {
      "parameters": {
        "model": "mistral-embed-2312",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        512,
        272
      ],
      "id": "323bf8ed-fe33-47a6-a02c-05277d4d0c7a",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "EvEN1q0jCtLD6f3E",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        448
      ],
      "id": "d26ff162-a3e6-4181-a5cc-7dbd744151f8",
      "name": "Wait",
      "webhookId": "7e53ddbc-c095-43ec-b84f-e17ce9c3580e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e820200-08c0-402e-ba1b-04a7b5cd1d7a",
              "leftValue": "={{ $json.removeme }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1008,
        448
      ],
      "id": "6b6fce16-4fad-4f95-a180-cc3a7a7f96d1",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b2b3b6f-3b6c-4dc5-b359-fe626bdf3a1b",
              "name": "alldata",
              "value": "={{ $input.all() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        448
      ],
      "id": "338e2f38-2631-46a8-af3b-04e6ed1fdd25",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "eventName": "REM 1 Done",
        "distinctId": "Lana",
        "additionalFields": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "output",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.postHog",
      "typeVersion": 1,
      "position": [
        2288,
        32
      ],
      "id": "c538ad60-cde0-4639-b087-4599095ddda1",
      "name": "Create an event",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postHogApi": {
          "id": "uE1DlhWBT6cszbku",
          "name": "PostHog account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "rem_material search",
            "type": "main",
            "index": 0
          },
          {
            "node": "summary search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rem_material search": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "summary search": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "rem_material search",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "summary search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call 'Wake Up'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba3cb2d5-c365-4da6-8d70-fd9f52e1f286",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a778a0d94b3958961fe34906fd90006f863d59efcaf8ca586dc3f0d6b0a34eb"
  },
  "id": "abi0hCYz5HEWqrmP",
  "tags": [
    {
      "updatedAt": "2026-03-21T12:03:52.825Z",
      "createdAt": "2026-03-21T12:03:52.825Z",
      "id": "24LSzFxysu3aJmEV",
      "name": "lana"
    },
    {
      "updatedAt": "2026-03-21T20:05:57.934Z",
      "createdAt": "2026-03-21T20:05:57.934Z",
      "id": "83QlnQ6OaUK2Z7XX",
      "name": "humanity"
    }
  ]
}