conscience-sim/Write a memo (2).json
{
  "name": "Write a memo",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "memocontent"
            },
            {
              "name": "tags"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ],
      "id": "ee31a407-85f9-4082-b393-6d18a3cd3ddf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "lXAuOLaXgI3HmBgS",
          "mode": "list",
          "cachedResultName": "lana-memos",
          "cachedResultUrl": "/projects/taWEEAmWMerJQ2Dp/datatables/lXAuOLaXgI3HmBgS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.memocontent }}",
            "tags": "={{ $json.tags }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "d210553c-7494-404d-a0ef-fb7b5f7a9a9d",
      "name": "Insert row"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "lana-oai",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "1676fae0-4fa8-40c9-b3d1-44bbc6c53857",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "YG57JCyTqfm71imn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={\n\"datetime\":\"{{ $json.createdAt }}\",\n\"type\":\"memo\",\n\"content\":\"{{ $('When Executed by Another Workflow').item.json.memocontent }}\",\n\"tags\":\"{{ $('When Executed by Another Workflow').item.json.tags }}\"\n}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "memo"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        240
      ],
      "id": "3a7c2584-1dde-4fb0-82fd-17071e714b3a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "mistral-embed-2312",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        432,
        224
      ],
      "id": "83b17d15-1817-45bd-bc9f-723ad22bd91d",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "EvEN1q0jCtLD6f3E",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "eventName": "Memo written",
        "distinctId": "Lana",
        "additionalFields": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "content",
                "value": "={{ $('When Executed by Another Workflow').item.json.memocontent }}"
              },
              {
                "key": "tags",
                "value": "={{ $('When Executed by Another Workflow').item.json.tags }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.postHog",
      "typeVersion": 1,
      "position": [
        400,
        -176
      ],
      "id": "61947d76-57bd-4461-bd05-deae52a4e1f6",
      "name": "Create an event",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "postHogApi": {
          "id": "uE1DlhWBT6cszbku",
          "name": "PostHog account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b55c098b-c83a-4478-a641-afc8c8137ad8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a778a0d94b3958961fe34906fd90006f863d59efcaf8ca586dc3f0d6b0a34eb"
  },
  "id": "hLZDglI48z7QVzJH",
  "tags": [
    {
      "updatedAt": "2026-03-21T12:03:52.825Z",
      "createdAt": "2026-03-21T12:03:52.825Z",
      "id": "24LSzFxysu3aJmEV",
      "name": "lana"
    },
    {
      "updatedAt": "2026-03-21T20:05:57.934Z",
      "createdAt": "2026-03-21T20:05:57.934Z",
      "id": "83QlnQ6OaUK2Z7XX",
      "name": "humanity"
    }
  ]
}